<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weekly Stock News</title>
  <style>
    h2 {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <h2>Earnings</h2>
  <p>
    <strong>TAS/TNS</strong>: Time not specified.
    <strong>BMO</strong>: Before market open.
    <strong>AMC</strong>: After market close.
  </p>
  <ul>
    {{range .Earnings}}
      <li>
        <strong>Symbol: {{.Ticker}}</strong>
        <ul>
          <li>Company: {{.Company}}</li>
          <li>Date: {{.Date}}</li>
          <li>Call Time: {{.StartTime}}</li>
        </ul>
      </li>
    {{end}}
  </ul>
  <h2>IPOs</h2>
  <ul>
    {{range .IPOs}}
      <li>
        <strong>Symbol: {{.Ticker}}</strong>
        <ul>
          <li>Company: {{.Company}}</li>
          <li>Exchange: {{.Exchange}}</li>
          <li>Date: {{.Date}}</li>
        </ul>
      </li>
    {{end}}
  </ul>
</body>
</html>
